body,
html {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Poppins', sans-serif;
    ;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
    overflow: hidden;
}

header {
    position: relative;
    z-index: 1000;
    width: 100%;
    /* background-color: rgba(0, 123, 95, 0.5); */
    background-color: #80CB1E;
    /* BISLERI green */
    color: white;
    padding: 2vh 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

nav img {
    /* background-color: #0072ff; */
    height: 5vh;
    padding-left: -400px;
}

nav ul {

    position: fixed;
    left: 34.5%;
    z-index: 100;
    background-color: #00c8ff57;
    border: 2px solid rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    padding: 10px 2px;
    border-radius: 50px;
    margin: 0;
}

nav ul li {

    margin: 0 2vw;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2vh;
}

.cta {


    background-color: #0056b3;
    /* BISLERI blue */
    color: white;
    border: none;
    padding: 1vh 2vw;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.hero {

    position: relative;
    background: linear-gradient(rgba(118, 199, 12, 0.926), rgba(0, 123, 117, 0.5));
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    min-height: 80vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero #watercube {
    max-height: 100vh;
    min-width: 100vw;
    z-index: -3;
    position: absolute;

}

.herobottle {
    position: absolute;
    max-height: 60vh;
    z-index: 10;
}

#herobottle1 {
    left: 0;
    top: -20;
    position: absolute;
    max-height: 60vh;
    z-index: 9;
    max-height: 60vh;
    transform: rotate(45deg);

}

#herobottle2 {
    right: 0;

    top: 20;
    position: absolute;
    max-height: 60vh;
    z-index: 9;
    transform: rotate(-45deg);

}

.hero h1 {
    
    line-height: 22.5vh;
    margin: 0;
    font-size: 7vw;
}



#pure {


    color: #232931a9;
    font-size: 10vw;
}

#refreshing {
    color: #23312ea9;
    font-size: 17vw;
}

#bisleri {
    z-index: 10;
    /* color: #007b5ebc; */
    color: cornflowerblue;

    font-size: 14vw;

}



section {
    background-color: black;
    padding: 5vh 5vw;
    min-height: 100vh;
    /* Ensure each section is at least 100vh */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benifits {
    background: linear-gradient(#7FBDB9, rgba(0, 123, 117, 0.5));

    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



}

.benifits p {
    display: none;
}


#i {
    display: none;
}



.benifits h2 {
    /* color: #1A8B58; */
    color: #ffffff;
    font-size: 6.2vw;
    margin-top: 10px;
}

.benifits a {
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: #42633D;
    font-size: 4vw;
}

.centercontent {
    /* background-color: red; */
    width: 70vw;
    min-height: 110vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;


}


.leftimg {

    position: absolute;
    right: 0;
    /* background-color: #be7c7c; */
    width: 35vw;
    max-height: 80vh;

}

.benifits img {

    height: 100%;
    width: 100%;
}

.rightimg {
    position: absolute;
    left: 0;
    /* background-color: #000000; */

    width: 35vw;
    max-height: 80vh;

}


.benifitsleftbot {
    position: absolute;
    left: 0;
    margin-top: 120vh;
    /* background-color: #db0b0b; */
    width: 35vw;
    max-height: 80vh;

}

.benifitsrightbot {
    margin-top: 120vh;
    /* background-color: #000000; */
    position: absolute;
    right: 0;
    width: 35vw;
    max-height: 80vh;

}








.product-section {
    background: linear-gradient(#7FBDBA, rgba(118, 199, 12, 0.926));

    /* background-color: #3F9F6F; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5vh;
    width: 100%;
    height: 100%;
    min-height: 100vh;



}

.product-section h1 {
    /* color: white; */
    color: cornflowerblue;

    text-align: center;
    margin-bottom: 5vh;
    margin-top: 15vh;
    font-size: 8vw;
}

.product-grid {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.product-card {

    backdrop-filter: blur(5px);
    /* Adjust the blur amount */
    border: 2px solid white;
    /* background-color: #31352c; */
    color: #ffffff;
    padding: 2vh 1vw;
    border-radius: 50px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card img:hover {
    transform: scale(1.01);
}

.product-card h2 {
    margin: 1vh 0;
    font-size: 2vw;
}

.product-card p {
    margin: 1vh 0;
    font-size: 1.4vw;
}

.product-card button {
    background-color: rgb(255, 250, 250);
    color: #000000;
    border: 2px solid white;
    padding: 1vh 8vw;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5vw;
}

.product-card button:hover {
    background-color: #050303;
    color: white;
    transition: 0.3s;
}


.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 2vh;
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card h2,
    .product-card p,
    .product-card button {
        font-size: 2vw;
    }

    .product-card img {
        margin-bottom: 2vw;
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-card h2,
    .product-card p,
    .product-card button {
        font-size: 3vw;
    }

    .product-card img {
        margin-bottom: 3vw;
    }
}

@media (max-width: 480px) {
    .product-section h1 {
        font-size: 15vw;
        text-align: left;
        padding-left: 20px;

    }
    .product-card h2{
        font-size: 10vw;
        font-weight: 500;
    }
   
    .product-card p,
    .product-card button {
        font-size: 4vw;
        
    }

    .product-grid {
        gap: 3vh;
    }
    .product-card img {
        margin-bottom: 40vw;
    }

    .product-card {
        width: 95vw;
    }
    .product-card button{
        background-color: #000000;
        width: 40vw;
        color: wheat;
    }

}






/* Parallax Effect */
/* .parallax {

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
} */

@media (max-width: 768px) {
    nav ul {
        /* flex-direction: column; */
        padding: 5px 5px;
        align-items: center;
        margin-left: 63px;
        gap: 5px;
    }

    nav ul li {
        margin: 1vh 0;
    }

    nav ul li a {

        font-size: 4.19vw;
    }

    .hero h1 {
        font-size: 8vw;
    }

    .hero p {
        font-size: 4vw;
    }

    .cta {
        font-size: 3vh;
        padding: 2vh 3vw;
    }

    section {
        padding: 5vh 3vw;
    }

    .benifits p {
        color: white;
        padding-bottom: 20vh;
        font-size: 10vw;
        display: inline;
    }


    

}

@media (max-width: 480px) {
    nav ul {
        /* flex-direction: column; */
        padding: 2px 6px;
        align-items: center;
        margin-left: 63px;
        gap: 5px;
    }

    nav ul li a {

        font-size: 4.2vw;
    }

    .hero h1 {
        font-size: 15vw;
        line-height: 10vh;
    }



    .cta {
        font-size: 4vh;
        padding: 3vh 4vw;
    }

    .herobottle {

        /* position: fixed; */
        max-height: 50vh;
        z-index: 10;
    }

    #herobottle1 {
        left: -130px;
        top: 60px;
        position: absolute;
        max-height: 60vh;
        z-index: 9;
        max-height: 40vh;
        transform: rotate(45deg);

    }

    #herobottle2 {
        right: -130px;

        top: 60px;
        position: absolute;
        max-height: 40vh;

        z-index: 9;
        transform: rotate(-45deg);

    }

    #pure {


        font-size: 16vw;
    }

    #refreshing {
        font-size: 19vw;
        padding-bottom: 13vh;
    }

    #bisleri {
        z-index: 10;
        font-size: 22vw;

    }

    .benifits h2 {
        /* color: #1A8B58; */
        /* color: #ffffff; */
        color: cornflowerblue;

        font-size: 10vw;

    }

    .benifits a {
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 10px;
        border: 2px solid white;
        border-radius: 20px;
        text-decoration: none;
        color: #42633D;
        font-size: 9vw;
    }

    .benifits p {
        text-align: center;
        padding-top: 200px;
        border: 2px solid cornflowerblue;
        ;
        border-radius: 50px;
        /* padding-top: -100vh; */
        font-size: 5vw;
        display: inline;
        margin-bottom: 5vh;
    }




}

/* Chat Icon Styles */
.chat-icon {
    overflow: hidden;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    background-color: #000000;
    /* BISLERI green */
    color: white;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(14, 2, 124, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.chat-icon img {
    width: 160%;
    height: 160%;
}





footer {
    z-index: 10;
    background-color: #80cb1e;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h2 {
    color: cornflowerblue;
    font-weight: 700;

    margin-bottom: 10px;
    font-size: 4.5em;
}

.social-media-links {
    list-style: none;
    padding: 0;
}

.social-media-links li {
    display: inline;
    margin: 0 10px;
}

.social-media-links a {
    color: #000000;
    text-decoration: none;
    font-weight: 200;
    font-size: 5em;
}

.social-media-links a:hover {
    color: #007bff;
}

.contact-option {
    color: white;
    background-color: #000000;
    border-radius: 50px;
    padding: 0px 30px;
    border: 2px solid black;
    margin-top: 20px;
}

.contact-option a {
    text-decoration: none;


    color: #007bff;
}

.contact-option a:hover {
    text-decoration: underline;
}

.footerimg {
    background-color: #80CB1E;
    width: 100vw;
    /* background-color: #0056b3; */
    /* position: absolute;
    bottom: 0; */
    z-index: 9;
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 20px;

    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    position: relative;
    /* background-color: #f1f1f100; */
}

.footerimg img {
    z-index: -3;
    width: 200px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    flex-shrink: 0;
    animation: scroll 10s linear infinite;
    cursor: pointer;
}

.footerimg {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.footerimg img {
    min-width: 250px;
    /* Adjust as needed */
    height: auto;
    flex-shrink: 0;
    animation: scroll 4s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 600px) {
    .social-media-links li {
        display: block;
        margin: 10px 0;
    }

    .footer-content h2 {
        font-size: 2.2em;
        color: cornflowerblue;
    }

    .social-media-links a {
        font-size: 3.2em;
    }
}




.FAQ-SEC {

    border-top: 1px solid white;
    font-family: poppins;
    background-color: #80CB1E;
    min-height: 100svh;
    max-width: 100vw;
    min-width: 90vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 800;
    color: cornflowerblue;
    font-size: 5.5vw;
}

.FAQ {
    border-radius: 50px;
    /* background-color: red; */
    align-items: center;
    border: 1.5px solid rgb(0, 0, 0);
    background-color: #80CB1E;

    height: 50%;
    width: 80%;
    margin-bottom: 5px;

    /* background-color: rgb(198, 36, 36); */
}

.FAQQ {
    min-height: 14vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FAQ h2 {
    font-size: 1.8vw;
    font-weight: 500;
    margin-right: 2rem;
    margin-left: 2rem;
}

.FAQQ i {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 600;
}

.FAQA {

    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 10px;
}

.FAQA h4 {

    align-items: center;
    text-align: center;

    font-size: 1.2vw;
    font-weight: 500;
    display: none;
    transition: ease-in-out;

    color: rgb(30, 30, 30);
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 6vw;
    }

    .FAQ {
        /* background-color: red; */
        min-width: 95%;
    }

    .FAQ h2 {
        font-size: 5vw;

    }

    .FAQA h4 {
        font-size: 3vw;

    }

    .chat-icon {
        bottom: 10px;
        height: 10vw;
        width: 10vw;
    }
}

